.header{
    width:100%;
    background-color: aqua;
    height:100%;
    padding: 20px;
    
}
.butn{
    margin-right: 10px;
}
.auth-avatar{
    height: 57px;
    margin-right: -1200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  